<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "dux.game.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Dux</name>

    <description>
        Dux because why not?
    </description>

    <author href="http://scratch.mit.edu/users/Hopowopaj123" email='17liadon@cwlc.email'>
        Hopowopaj123
    </author>

</widget>
